:root {
    --labInpRatio: 70%;
    --radPad: 6px;
    --height: 100%;
    --width: 140%;
    --pad: 6px;
    --labBGColor: #E74C3C88;
    --labBGColorEnd: #CB584CFF;
    /*--labBGColor: #ab3326;*/
    --labFocusedBGColor: #457b9d;
    /*--labColor: #8ea485;*/
    --labColor: black;
    --labHoverColor: bisque;
    /*color: bisque;*/
    --labFocusedColor: black;
    --smoothDelay: 500ms;
    --fontSizeFocus: 90%;
    --rad: 15px;
    --margin: 4px;
}

sliding-input {
    width: 100%;
}

sliding-input div {
    width: fit-content;
    position: relative;
    margin: var(--margin);
}

sliding-input div label {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--width) + var(--radPad) / 2);
    height: 100%;
    padding-left: var(--pad);
    padding-right: var(--pad);
    border-radius: var(--rad) 0 var(--rad) var(--rad);
    backdrop-filter: blur(5px);

    /*-----centering label------*/
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    /*--------------------------*/
    background: linear-gradient(to right, var(--labBGColor), var(--labBGColorEnd));
    color: var(--labColor);

    -webkit-transition: all var(--smoothDelay) ease-in-out;
    -moz-transition: all var(--smoothDelay) ease-in-out;
    -o-transition: all var(--smoothDelay) ease-in-out;
    -ms-transition: all var(--smoothDelay) ease-in-out;
    transition: all var(--smoothDelay) ease-in-out;
}
sliding-input div:hover::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: h var(--smoothDelay) forwards;
}
sliding-input div:hover label {
    width: calc(var(--labInpRatio));
    color: var(--labHoverColor);
    font-size: var(--fontSizeFocus);
}

.typed {
    background: linear-gradient(to right, var(--labFocusedBGColor), #777);
    color: var(--labFocusedColor);
    width: calc(var(--labInpRatio));
    font: var(--fontSizeFocus);
    font-weight: 1000;

    box-shadow: 5px 5px 7px grey;
    margin: -5px 5px 5px -5px;
}

sliding-input div input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-radius: var(--rad) 0 var(--rad) var(--rad);

    width: calc(var(--width) + 2 * var(--pad));
    line-height: calc(var(--height) + 2 * var(--pad));
    padding-left: calc(var(--labInpRatio) + 2 * var(--pad) + var(--radPad));
}

@media (pointer: none), (pointer: coarse) {
    * {
        --width: 120%;
        --labInpRatio: 60%;
        font-size: small;
    }
    sliding-input div input::placeholder {font-size: 80%}
}
