.neo {
    /*--color-gradient-start: #e74c3c;*/
    /*--color-gradient-stop: #fd5341;*/
    /*--color-outset-start: #cb584c;*/
    /*--color-outset-stop: #ff6e5f;*/
    /*--color-inset-start: rgba(0,0,0,0);*/
    /*--color-inset-stop: rgba(0,0,0,0);*/
    /*color: #002c59;*/

    --color-gradient-start: #fd5341;
    --color-gradient-stop: #e74c3c;
    --color-outset-start: rgba(0, 0, 0, 0);
    --color-outset-stop: rgba(0, 0, 0, 0);
    --color-inset-start: #cb584c;
    --color-inset-stop: #ff6e5f;
    color: #001f3f;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: auto;
    border: 0;
    outline: 0;
    margin: 5px;
    padding: 0.5em 1em;
    border-radius: 0 0 0 var(--rad);
    background: linear-gradient(145deg, var(--color-gradient-start), var(--color-gradient-stop));
    box-shadow: 0.4em 0.4em 0.8em var(--color-outset-start), -0.4em -0.4em 0.8em var(--color-outset-stop), inset 0.2em 0.2em 0.4em var(--color-inset-start), inset -0.2em -0.2em 0.4em var(--color-inset-stop);
    transition: --color-gradient-stop 0.4s, --color-gradient-start 0.4s, --color-outset-start 0.8s, --color-outset-stop 0.8s, --color-inset-start 0.8s, --color-inset-stop 0.8s, color 1s, 0.4s ease-in-out;
}

.neo:hover::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: h 0.4s forwards;
}

@keyframes h {
    99.9% {
        bottom: 0;
    }
    100% {
        bottom: 100%;
    }
}

.neo:hover {
    /*--color-gradient-start: #fd5341;*/
    /*--color-gradient-stop: #e74c3c;*/
    /*--color-outset-start: rgba(0,0,0,0);*/
    /*--color-outset-stop: rgba(0,0,0,0);*/
    /*--color-inset-start: #cb584c;*/
    /*--color-inset-stop: #ff6e5f;*/
    /*color: #001f3f;*/

    --color-gradient-start: #e74c3c;
    --color-gradient-stop: #fd5341;
    --color-outset-start: #cb584c;
    --color-outset-stop: #ff6e5f;
    --color-inset-start: rgba(0, 0, 0, 0);
    --color-inset-stop: rgba(0, 0, 0, 0);
    color: #002c59;

    margin: -0.4em 0.4em 0.4em -0.4em;
    transition: 0.4s ease-in-out;
    cursor: auto;
}
