* {
  font-family: Arial, Helvetica, sans-serif;
}

#container {display:block;}

#d1 {
  display: grid;
  grid-template-columns: 12.5% 6.6% 8% 9% 10% 6.6%;
}

.main, .cell, .dynamic, .entry {padding: 5px}
.main {
  font-weight: bold;
  border: 1px solid #f18e8e;
  background: #ffbfbf;
}

.cell {
  border: 1px solid #c2ba3c;
  background: #f8ffde;
  text-align: center;
}

.dynamic {
  border: 1px solid #c2ba3c;
  background: #f8ffde;
  text-align: center;
}

.entry {
  padding: 3px;
  font-size: 14px;
  font-weight: 600;
}
.entry:focus, .dynamic:hover {
    box-shadow: 5px 5px 7px grey;
    margin: -5px 5px 5px -5px;
}
