* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

#container {
  display:block;
}

#d1 {
  display: grid;
  grid-template-columns: 12.5% 6.6% 8% 9% 10% 6.6%;
}

.main, .dynamic, .entry {padding: 5px}

.main {
  font-weight: bold;
  border: 1px solid rgb(211, 112, 112);
  background: #ffbfbf;
}
.main-grad {background: linear-gradient(to right, rgb(241, 142, 142), rgb(255, 191, 191))}
.main-grad2 {background: radial-gradient(rgb(255, 191, 191), rgb(241, 142, 142))}

.dynamic {
  border: 1px solid rgb(194, 186, 60);
  text-align: center;
  background: rgb(248, 255, 222);
}
.dynamic-grad {background: linear-gradient(to left, rgb(224, 216, 90), rgb(248, 255, 222));}

.entry {
  padding: 3px;
  font-weight: 600;
  background: radial-gradient(rgb(210, 220, 230), rgb(230, 220, 210));
}
.entry:focus, .dynamic:hover {
  box-shadow: 5px 5px 7px grey;
  margin: -5px 5px 5px -5px;
}

.label {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}
.label:hover {
  box-shadow: 5px 5px 7px grey;
  margin: -5px 5px 5px -5px;
}

.button {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }
.button::before {
  content: '';
  border-radius: 1000px;
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}
.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}
.button:hover::before, button:focus::before {
  opacity: 1;
}
.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}
.button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 90px;
    height: 50px;
    opacity: 0;
  }
}
