html {
    max-width: 100%;
    background-color:#ebebeb;
    overflow-x: hidden;
    width: 100%;
}

body {
    max-width: 75%;
    min-height: 100vh;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-family: Verdana, serif;
    border: solid 2px #0094ff;
    font-size: 15px;
    background-color: #dffe91;
    position: relative;
}

#f1 {

}

#l1 {

}

#l2 {

}

#cycle {

}

.option {

}

#d1 {
    display: grid;
    grid-template-columns: 25% 15% 15% 15%;
    position: relative;
    top: 10px;
    left: 15%;
}
@media (pointer:none), (pointer:coarse) {
  body {max-width: 100%}
  #d1 {grid-template-columns: 30% 20% 20% 20%; left: 5%;}
}

.head {
    font-weight: bold;
    border: 1px solid rgb(211, 112, 112);
    background: radial-gradient(rgb(255, 191, 191), rgb(241, 142, 142));
}
#ls {
    text-align: left;
}

.dynamic {
    border: 1px solid rgb(194, 186, 60);
    background: rgb(248, 255, 222);
}

.entry {

}
.entry:focus, .dynamic:hover {
  box-shadow: 5px 5px 7px grey;
  margin: -5px 5px 5px -5px;
}

.head, .dynamic, .entry {padding: 8px;}

#b1 {

}
